body {
  background-color: #4444;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.card {
  background-color: whitesmoke;
  width: full;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: #9b1c1c44;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
}
